body{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
}

.first-section{
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.header p{
    font-size: 24px;
    color: #F9FAF8;
}

ul{
    display: flex;
    gap: 10px;
    list-style-type: none;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #a2a2a2;
}

.main-section-one{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
    
}

h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.main-section-one p{
    font-size: 18px;
    color: #a2a2a2;
    margin: 0;
}

.main-section-one button{
    background-color: #3882F6;
    color: white;
    padding: 8px 40px;
    border-radius: 10px;
}

.main-section-one img{
    width: 400px;
    height: auto;
}

.second-section{
    text-align: center;
    margin-bottom: 50px;
}

.second-section-title{
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.second-section-img img{
    width: 250px;
    height: auto;
}

.second-section-information{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.third-section{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

#quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 0;
}

.third-section-quote{
    width: 770px;
    padding: 50px;
}

.test{
    display: flex;
    justify-content: flex-end;
}
